.features__inner {
  padding: 0 0 270px 0;
  margin: 0 0 50px 0;
  background: @color--grey url("../img/features__phone.png") no-repeat 80px 820px scroll;
}

.features h1 {
  background: @color--white;
  padding: 45px 0 120px 0;
  margin: 0;
  .features__header {
    display: block;
    margin: 0 auto 40px auto;
    font: @font--big;
  }
}

.features__item {
  width: 270px;
  margin: 0 auto 40px auto;
  h2 {
    color: @color--black;
    font: @font--medium;
  }
}

.features h1 span:last-child {
  margin: 0 auto 0 auto;
}