*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: @blue;
  font-family: 'Open Sans', sans-serif;
  font-size: @font-size;
}

.btn {
  padding: 15px 40px;
  border: 3.5px solid #fff;
  border-radius: 50px;
  font-size: @font-size--medium;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  color: @pink;
  background: #fff;
}

.btn:active {
  color: @pink-light;
  background: #fff;
}