html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  color: @blue;
  font-family: @font;
  font-size: @font-size;
}

.btn {
  padding: 15px 40px;
  border: 4px solid #fff;
  border-radius: 50px;
  font-size: @font-size--medium;
  color: #fff;
  text-decoration: none;
  font-weight: @bold;
  @media(min-width: @screen--medium) {
    font-size: @font-size--btn1200;
  }
  &:hover {
    color: @pink;    
    background: #fff;
  }
}

.btn:active {
  color: @pink--light;
  background: #fff;
}