.page-footer__h1 {
  font: @font--big;
  margin: 0 auto 40px auto;
}

.page-footer__contacts {
  width: 280px;
  margin: 0 auto 25px auto;
}

.page-footer__contacts:last-child {
  margin: 0 auto 40px auto;
}

.page-footer__h2 {
  font: @font--medium;
  margin: 0 auto 10px auto;
}

.page-footer__contacts a,
.page-footer__contacts p:nth-child(2) {
  .font--pink;
  margin: 0;
}

#map {
  height: 200px;
  width: 320px;
}