.page-header {
  
  &__inner {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  background: url("../img/background-1@1x.jpg") 0 0 no-repeat;
  background-position: center;
  }
  &__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, .3);
  }
  &__logo-link {
  width: 74px;
  height: 24px;
  margin: 20px 0;
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("../img/Pink-logo-1.png") no-repeat scroll 0 0;
  }
  &__logo-link:active {
  opacity: .3;
  }
  &__promo-text {
  width: 240px;
  margin: 0 auto;
  padding: 0;
  display: block;
  text-align: center;
  padding: 20px 0;
  color: white;
  font-size: @font-size--big;
  }
  &__promo:after {
  width: 258px;
  height: 286px;
  margin: auto;
  display: block;
  transform-origin: center bottom;
  background: url("../img/iphone-hand-1.png") no-repeat scroll;
  content: "";
  }
}

.page-header__download {
  display: none;
}

.main-nav {
  display: none;
}




@media(min-width: 700px) {
  
  .page-header__inner {
  max-width: 1200px;
  margin: 0 auto;
  background: url("../img/background-2@1x.jpg") 0 0 no-repeat;
  background-position: center;
  }
  .page-header__logo-link {
  width: 145px;
  height: 40px;
  margin: 42px 0;
  background: url("../img/Pink-logo-2@1x.png") no-repeat scroll 0 0;
  }
  .page-header__promo {
  margin: 45px auto 55px;
  display: flex;
  align-items: center;
  }
  .page-header__promo-text {
  font-size: @font-size--biggest-plus;
  margin: 0 auto;
  padding: 0;
  display: block;
  }
  .page-header__promo:after {
  width: 600px;
  height: 545px;
  margin: 0 auto;
  display: flex;
  transform-origin: center bottom;
  background: url("../img/iphone-hand-2@1x.png") no-repeat -180px 0 scroll;
  content: "";
  }
  .page-header__download {
  display: block;
  padding: 40px 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  }
}




@media(min-width: 1200px) {
  .page-header__inner {
  max-width: 1440px;
  background: url("../img/background-2@2x.jpg") 50% 50% no-repeat;
  }
  .page-header__logo-link {
  width: 146px;
  height: 40px;
  margin: 42px 10%;
  background: url("../img/Pink-logo-3@1x.png") no-repeat scroll 0 0;
  }
  .menu-toggler {
  display: none;
  }
  .main-nav {
  width: 60%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style: none;
  }
  .main-nav li {
  margin: 0 2%;
  text-align: center;
  }
  .main-nav__btn {
  padding: 20px 40px;
  text-decoration: none;
  color: #fff;
  font-size: @font-size--medium;
  position: relative;
  }
  .main-nav__btn:hover:after {
  content: '';
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  }
  .main-nav__btn:active {
  opacity: .3;
  }
  .page-header__promo {
  margin: 45px auto 0;
  }
}
/* Menu Toggler ------------------ */

.menu-toggler {
  display: flex;
  align-items: center;
  width: 50px;
  height: 25px;
  user-select: none;
  > span {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: .5px;
  position: relative;
  transition: background .3s .5s;
  &:before, &:after {
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: .5px;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 50% 50%;
    transition: top .3s .6s, transform .3s;
  }
  &:before {
    top: 10px;
  }
  &:after {
    top: -10px;
  }
  }
  &--close {
  > span {
    transition: background .3s 0;
    background: transparent;
    &:before, &:after {
    transition: top .3s, transform .3s .5s;
    top: 0;
    }
    &:before {
    transform: rotate3d(0, 0, 1, 45deg);
    }
    &:after {
    transform: rotate3d(0, 0, 1, -45deg);
    }
  }
  }
}
/* Menu Toggler end ----------------------- */