.research {
  display: none;
}

@media(min-width: @screen--small) {
  .research {
    display: block;
    @media(min-width: @screen--medium) {
      background: @grey;
    }
    &__inner {
      width: 700px;
      margin: 0 auto;
      display: flex;
      @media(min-width: @screen--medium) {
        width: 1200px;
        background: @grey;
      }
    }
    &__inner:before {
      width: 262px;
      height: 302px;
      margin: auto;
      display: block;
      background: url("../img/timer-2.svg") no-repeat scroll;
      content: "";
    }
    &__h2 {
      width: 87%;
      margin: 0;
      font-size: @font-size--biggest;
      font-weight: @bold;
      color: #000;
      font-family: @font;
      line-height: @line-height--header;
    }
    &__text {
      @media(min-width: @screen--medium) {
        font-size: @font-size--medium;
      }
    }
    &__container {
      width: 50%
    }
    &__item {
      width: 87%;
      margin: 20px auto 20px;
      text-align: left;
    }
    &__link {
      color: @pink;
      @media(min-width: @screen--medium) {
        font-size: @font-size--medium;
      }
    }
  }
}