.reviews {
  background-image: linear-gradient(-5deg, @grey 25%, #fff 25%);
  @media(min-width: @screen--medium) {
    background-image: linear-gradient(-5deg, @grey 20%, #fff 20%);
  }
  &__inner {
    min-width: @screen--mobile;
    padding: 40px 0 70px;
    margin: 0 auto;
    @media(min-width: @screen--small) {
      width: 700px;
      padding: 30px 0 100px;
    }
    @media(min-width: @screen--medium) {
      width: 1200px;
      padding: 0 0 140px;
    }
    @media(min-width: @screen--big) {
      width: 1440px;
    }
  }
  &__slide {
    text-align: center;
  }
  &__h2 {
    margin: 0 auto 25px auto;
    font-size: @font-size--320-h2;
    color: #000;
    font-family: @font;
    @media(min-width: @screen--small) {
      display: none;
    }
  }
  &__text {
    margin: 0 2%;
    @media(min-width: @screen--small) {
      font-size: @font-size--320-h2;
      padding: 0 0 30px;
    }
    @media(min-width: @screen--medium) {
      width: 680px;
      padding: 40px 0;
      margin: 0 auto;
    }
    &:before {
      @media(min-width: @screen--mobile) {
        display: none;
      }
      @media(min-width: @screen--medium) {
        width: 80px;
        height: 70px;
        margin: 30px auto;
        display: block;
        background: url("../img/quotes.svg") no-repeat scroll 50% 50%;
        content: "";
      }
    }
  }
  &__name {
    display: none;
    @media(min-width: @screen--small) {
      display: block;
      color: #000;
      font-weight: bold;
      font-size: @font-size--700-h3;
      padding: 0 0 15px;
    }
  }
  &__info {
    display: none;
    @media(min-width: @screen--small) {
      display: block;
    }
  }
}